@page "/nosotros"

<div class="row justify-content-center">
    <div class="container text-center mb-3">

        <div class="row">
            <div class="col-8">
                <strong><h5 class="text-info">Quienes Somos? </h5></strong>
                <p>
                    Somos una empresa que busca desarrollar e implementar un sistema bibliotecario de inventario en la cual se implementará la visualización de informaciones de libros tanto como autores, las ventas de libros mediante su
                    apartado en la aplicación, haciendo más eficiente, simple y rápida la búsqueda de literaturas de los clientes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">

                <strong><h5 class="class="text-info">Mision</h5></strong>
                <p>
                    Ser el servicio más referente de la administración bibliotecaria tecnológica en el país. Fomentando el conocimiento de informaciones a los clientes y el ámbito de la lectura.
                    Desarrollar una interfaz web que permita gestionar de manera eficiente la administración, ventas y visualización de los libros, con la finalidad de establecer una gran eficiencia en el servicio.
                </p>
                <strong><h5 class="text-dark">Vision</h5></strong>
                <p>
                    Ser referentes en la interfaz web que permita gestionar de manera eficiente la administración, ventas y visualización de los libros, con la finalidad de establecer una gran eficiencia en el servicio a nivel nacional.
                </p>
                <br>
                <strong><h5 class="class="text-info">Valores</h5></strong>
                <p>
                    <ul>
                        <li>
                            Responsabilidad
                        </li>
                        <li>
                            Integridad
                        </li>
                        <li>
                            Transparencia
                        </li>
                        <li>
                            Honestidad.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container text-center">
                    <h4 class="text-info">
                        cual es nuestra importanica ?
                    </h4>

                    <br />
                    <div class="container mt-3">
                        <p>
                            los lectores de Rep. Dom quiere poder comprar libros sencillamente cuando quieren ir a una librería no encuentran el libro que quieren , o es muy caro o no está en condiciones y para poder encontrar su libro deben movilizarse a un lugar aún más lejano para poder tener su libro , gastando tiempo , dinero en transporte o combustible y se da el caso de que no encuentran lo que quieren y a esta problemática le traemos Library Space el cual les ofrecerá una interfaz super agradable , para la selección del libro que quieras, la cual la tendrán tanto en la web como en sus dispositivos móviles, para que estes donde estes puedas hacer tu compra y no tengas ni que salir de tu hogar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
   
</div>
