@page "/"

<div class="row">
    <div class="container text-center mb-3">
        <h2 class="display-4 text-success"><strong>Welcome To</strong></h2>
        <strong><h3 class="text-info">Library <span class="text-primary">Space</span> </h3></strong>
        <strong><p class="text-dark">To Infinity And Beyond</p></strong>
        <hr />
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container text-center">
        <h4>
            Encuentra la colección de libros más rara
        </h4>
        <h6><span>Es perfecto para seleccionar el libro perfecto para ti.</span></h6>
        <br />
        <br />
        <br />
        <div class="container mt-3">

            <img src="https://img.wattpad.com/cover/144036528-256-k606796.jpg" class="ml-2" alt="Alternate Text" width="150px" height="150px" />
            <img src="https://okdiario.com/img/2017/09/26/libros-de-harry-potter-harry-potter-y-la-orden-del-fenix.jpg" class="ml-2" width="150px" height="150px" alt="Alternate Text" />
            <img src="https://dojiw2m9tvv09.cloudfront.net/10744/product/X_9789876094436default.jpg?207" class="ml-2" width="150px" height="150px" alt="Alternate Text" />
        </div>
        <br />
        <br />
        <h6>Proximamente....</h6>
    </div>
</div>
